footer{
  display: flex; /*coloca o footer um do lado do outro*/
  padding-block: 24px;  /*padding do footer*/
  gap: 24px; /*espacamento entre os textos*/
  font: 14px/150% var(--font-family);
}
footer span:nth-child(1){ /*pega o filho span de numero 1*/
margin-right: auto;
}