*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*refleti no projeto inteiro*/
:root{

/*variavel*/
  --brand-color:#EF5F4C; 
  --shape-transparency: #ffffff91; 
  --background-color: #FFFFFF;
  --surface-color: #F5F5F5;
  --skeleton-color: #D9D9D9;
  --text-color-primary: #313131;
  --text-color-secondary: #6C6C6C;

  --font-family: "Poppins", sans-serif;
  --text-lg: bold 32px/125% var(--font-family);
  --text: 16px/1.5 var(--font-family);
  --text-md: 14px/175% var(--font-family);
  --text-sm: 12px/175% var(--font-family);

}



body{
  font: var(--text);
  color: var(--text-color-secondary);
  background-color: var(--background-color);
}

a{
  text-decoration: none; /*tira underline dos menus*/
  color:inherit; /*cor deve ser herdada. buscando a cor do pai dele, no caso o body*/
}
a:hover{ 
color: var(--brand-color);/*quando passar o mouse em cima*/
text-decoration: underline;
}
.container{
  padding-inline: 32px; /*pading nas laterais somente*/
  max-width: 1280px; /*largura maxima da pagina*/
  margin-inline: auto; /*só vai mexer nas laterais, ficando automatica as duas laterais*/
}
.bg-surface-color{ /*classe para a cor do fundo do nav*/
  background-color: var(--surface-color);
}